Chat

1.1 Оскорбление участников сервера - от 3 до 24ч мьюта
1.2 Спам/Флуд - от 1 до 24ч мьюта
1.3 Распространение личной инфо-участника - мьют от 1 до 7д
1.4 Реклама без согласия админов/фишинг ссылки - бан ∞
1.5 Упоминания без причины/пинг - мьют от 30м до 24ч
1.6 Упоминания всего сервера запрещено! - мьют 31д
1.7 Критика участника сервера - от 1 до 7д мьюта
1.8 18+ контент - фото, видео, GIF - от 1 до 24ч мьюта
1.9 Видео, фото и т д с несовершеннолетними - бан ∞
2.0 Угнетение рас - мьют от 30м до 24ч

Voice

2.1 Посторонний шум - оглушающие звуки откл/микро 15м
2.2 Оскорбление участников сервера - откл/микро от 1 до 3ч
2.3 Распространение личной инфо участника - мьют от 1 до 7д
2.4 критика участника сервера - откл/микро, мьют от 24ч до 7д
2.5 обман участника сервера - бан от 1 до 31д

Moderation and their right

2.6 мьют без причины временное - снятие с прав модерации
2.7 бан без причины - снятие с прав модерации
2.8 Создание Ролей, чатов без согласия создателя - бан ∞
2.9 Обман участников - бан ∞
